マスタデータ/ツール/n8n/google_sheets_to_github_issue.n8n.json
{
  "name": "Google Sheets to GitHub Issue with CSV Attachments",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-e1f2a3b4c5d6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "spreadsheet",
        "operation": "read",
        "documentId": "={{ $json.spreadsheet_url }}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-f2a3b4c5d6e7",
      "name": "Get Spreadsheet Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [550, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "getMany",
        "documentId": "={{ $json.spreadsheet_url }}",
        "returnAll": true,
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-a3b4c5d6e7f8",
      "name": "Get All Sheet Names",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// スプレッドシートIDを抽出する関数\nfunction extractSpreadsheetId(url) {\n  const match = url.match(/\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/);\n  return match ? match[1] : url;\n}\n\nconst spreadsheetUrl = $input.first().json.spreadsheet_url;\nconst spreadsheetId = extractSpreadsheetId(spreadsheetUrl);\n\n// Get All Sheet Namesノードからシート情報を取得\nconst sheets = $input.all().map(item => item.json);\n\n// 各シートに対してスプレッドシートIDを付与\nconst outputData = sheets.map(sheet => ({\n  spreadsheet_id: spreadsheetId,\n  sheet_name: sheet.properties.title,\n  sheet_id: sheet.properties.sheetId\n}));\n\nreturn outputData;"
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-b4c5d6e7f8a9",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "spreadsheet",
        "operation": "read",
        "documentId": "={{ $json.spreadsheet_id }}",
        "sheetName": "={{ $json.sheet_name }}",
        "options": {
          "returnAllData": true
        }
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-c5d6e7f8a9b0",
      "name": "Read Each Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// CSVフォーマットに変換\nconst sheetName = $input.first().json.sheet_name;\nconst data = $input.all().map(item => item.json);\n\nif (data.length === 0) {\n  return {\n    json: {\n      sheet_name: sheetName,\n      csv_content: '',\n      filename: `${sheetName}.csv`\n    }\n  };\n}\n\n// ヘッダー行を作成\nconst headers = Object.keys(data[0]);\nconst csvRows = [];\n\n// ヘッダー\ncsvRows.push(headers.map(h => `\"${h}\"`).join(','));\n\n// データ行\ndata.forEach(row => {\n  const values = headers.map(header => {\n    const value = row[header] !== null && row[header] !== undefined ? String(row[header]) : '';\n    // CSVエスケープ処理\n    return `\"${value.replace(/\"/g, '\"\"')}\"`;\n  });\n  csvRows.push(values.join(','));\n});\n\nconst csvContent = csvRows.join('\\n');\n\nreturn {\n  json: {\n    sheet_name: sheetName,\n    csv_content: csvContent,\n    filename: `${sheetName}.csv`,\n    row_count: data.length\n  }\n};"
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-d6e7f8a9b0c1",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-e7f8a9b0c1d2",
      "name": "Aggregate CSVs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "// 全CSVデータを集約\nconst allItems = $input.all();\nconst csvFiles = [];\nlet totalRows = 0;\n\nallItems.forEach(item => {\n  if (item.json.csv_content) {\n    csvFiles.push({\n      filename: item.json.filename,\n      content: item.json.csv_content,\n      sheet_name: item.json.sheet_name,\n      row_count: item.json.row_count || 0\n    });\n    totalRows += item.json.row_count || 0;\n  }\n});\n\n// スプレッドシート情報を取得（最初のアイテムから）\nconst firstItem = allItems[0].json;\nconst spreadsheetUrl = firstItem.spreadsheet_url || '';\nconst spreadsheetName = firstItem.spreadsheet_name || 'Unknown Spreadsheet';\n\nreturn {\n  json: {\n    csv_files: csvFiles,\n    spreadsheet_url: spreadsheetUrl,\n    spreadsheet_name: spreadsheetName,\n    total_sheets: csvFiles.length,\n    total_rows: totalRows\n  }\n};"
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-f8a9b0c1d2e3",
      "name": "Prepare GitHub Issue Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2350, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "create",
        "owner": "Wonderplanet",
        "repository": "glow-brain",
        "title": "=[データ更新] {{ $json.spreadsheet_name }}",
        "body": "=## スプレッドシートデータのCSV変換完了\n\n**スプレッドシート**: [{{ $json.spreadsheet_name }}]({{ $json.spreadsheet_url }})\n**変換日時**: {{ $now.toISO() }}\n**シート数**: {{ $json.total_sheets }}\n**総行数**: {{ $json.total_rows }}\n\n### 変換されたCSVファイル\n\n{{ $json.csv_files.map(f => `- \\`${f.filename}\\` (${f.row_count}行)`).join('\\n') }}\n\n---\nこのissueには、各シートのCSVファイルがコメントとして添付されます。",
        "labels": "data-update,automated",
        "additionalFields": {}
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-a9b0c1d2e3f4",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "issue_number",
              "name": "issue_number",
              "value": "={{ $json.number }}",
              "type": "number"
            },
            {
              "id": "csv_files",
              "name": "csv_files",
              "value": "={{ $json.csv_files }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-b0c1d2e3f4a5",
      "name": "Extract Issue Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [2950, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "csv_file",
              "name": "csv_file",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-c1d2e3f4a5b6",
      "name": "Split CSV Files",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "issue",
        "operation": "createComment",
        "owner": "Wonderplanet",
        "repository": "glow-brain",
        "issueNumber": "={{ $json.issue_number }}",
        "body": "=### 📄 {{ $json.csv_file.filename }}\n\n**シート名**: {{ $json.csv_file.sheet_name }}\n**行数**: {{ $json.csv_file.row_count }}\n\n```csv\n{{ $json.csv_file.content }}\n```"
      },
      "id": "f2a3b4c5-d6e7-8f9a-0b1c-d2e3f4a5b6c7",
      "name": "Add CSV as Comment",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [3550, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "spreadsheet_url_exists",
              "leftValue": "={{ $json.spreadsheet_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-9a0b-1c2d-e3f4a5b6c7d8",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Spreadsheet Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spreadsheet Info": {
      "main": [
        [
          {
            "node": "Get All Sheet Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Sheet Names": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Read Each Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Each Sheet": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Aggregate CSVs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate CSVs": {
      "main": [
        [
          {
            "node": "Prepare GitHub Issue Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Issue Data": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Extract Issue Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Issue Number": {
      "main": [
        [
          {
            "node": "Split CSV Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split CSV Files": {
      "main": [
        [
          {
            "node": "Add CSV as Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add CSV as Comment": {
      "main": [
        [
          {
            "node": "Split CSV Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-06T00:00:00.000Z",
      "updatedAt": "2026-01-06T00:00:00.000Z",
      "id": "1",
      "name": "google-sheets"
    },
    {
      "createdAt": "2026-01-06T00:00:00.000Z",
      "updatedAt": "2026-01-06T00:00:00.000Z",
      "id": "2",
      "name": "github"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-06T00:00:00.000Z",
  "versionId": "1"
}
